<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmployeeService" />
        <binding name="BasicHttpBinding_ITruckService" />
        <binding name="BasicHttpBinding_ISessionService" />
        <binding name="BasicHttpBinding_IOrderService" />
        <binding name="BasicHttpBinding_ICargoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SpeedSharkWCF/EmployeeService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService"
        contract="EmployeeServiceReference.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SpeedSharkWCF/TruckService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITruckService"
        contract="TruckServiceReference.ITruckService" name="BasicHttpBinding_ITruckService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SpeedSharkWCF/SessionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService"
        contract="SessionServiceReference.ISessionService" name="BasicHttpBinding_ISessionService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SpeedSharkWCF/OrderService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
        contract="OrderServiceReference.IOrderService" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SpeedSharkWCF/CargoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargoService"
        contract="CargoServiceReference.ICargoService" name="BasicHttpBinding_ICargoService" />
    </client>
  </system.serviceModel>
</configuration>