<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SpeedSharkServer.Properties.Settings.SpeedSharkDBConnectionString"
            connectionString="Data Source=FASTESTPCEVER\CRISTISQL;Initial Catalog=SpeedSharkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>